app.templates.splash = """<div class="_splash-title">DevDocs</div>"""

app.templates.intro = """
  <div class="_intro"><div class="_intro-message">
    <h2 class="_intro-title">Welcome!</h2>
    <p>DevDocs combines multiple API documentations in a fast, organized, and searchable interface.
       Here's what you should know before you start:
    <ol class="_intro-list">
      <li>Open the <a href="/settings">Preferences</a> to enable more docs and customize the UI.
      <li>You don't have to use your mouse &mdash; see the list of <a href="/help#shortcuts">keyboard shortcuts</a>.
      <li>The search supports fuzzy matching (e.g. "bgcp" brings up "background-clip").
      <li>To search a specific documentation, type its name (or an abbr.), then Tab.
      <li>You can search using your browser's address bar &mdash; <a href="/help#browser_search">learn how</a>.
      <li>DevDocs works <a href="/offline">offline</a>, on mobile, and can be installed on <a href="https://chrome.google.com/webstore/detail/devdocs/mnfehgbmkapmjnhcnbodoamcioleeooe">Chrome</a>.
      <li>For the latest news, follow <a href="https://twitter.com/DevDocs">@DevDocs</a>.
      <li>DevDocs is free and <a href="https://github.com/freeCodeCamp/devdocs">open source</a>.
          <iframe class="_github-btn" src="//ghbtns.com/github-btn.html?user=freeCodeCamp&repo=devdocs&type=watch&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="100" height="20"></iframe>
      <li>And if you're new to coding, check out <a href="https://www.freecodecamp.org/">freeCodeCamp's open source curriculum</a>.
    </ol>
    <p>Happy coding!
  </div></div>
"""

app.templates.mobileIntro =
en: """
  <div class="_mobile-intro">
    <h2 class="_intro-title">Welcome!</h2>
    <p>Here combines multiple API documentations in a fast, organized, and searchable interface.
       Here's what you should know before you start:
    <ol class="_intro-list">
      <li>The search supports fuzzy matching.
      <li>To search a specific documentation, type its name (or an abbr.), then Space.
      <li>Pick your docs in the <a href="/settings">Preferences</a>.
    </ol>
    <p>Happy coding!
    <p class="_intro_open_source">Derived from open source <a href="https://github.com/freeCodeCamp/devdocs">DevDocs</a>.
  </div>
"""
zh: """
  <div class="_mobile-intro">
    <h2 class="_intro-title">欢迎!</h2>
    <p>这里集合了很多常用的 API 文档，方便进行快速的查询。
       下面是你开始前需要知道的：
    <ol class="_intro-list">
      <li>搜索支持模糊查询
      <li>如果想要搜索特定文档，输入其名字或者简称（比如，numpy），然后空格。
      <li>如果想要更改查询的文档列表，可以进入 <a href="/settings">Preferences</a> 来修改
    </ol>
    <p>享受开发吧!
    <p class="_intro_open_source">基于开源的 <a href="https://github.com/freeCodeCamp/devdocs">DevDocs</a>。
  </div>
"""

app.templates.androidWarning = """
  <div class="_mobile-intro">
    <h2 class="_intro-title">Hi there</h2>
    <p>DevDocs is running inside an Android WebView. Some features may not work properly.
    <p>If you downloaded an app called DevDocs on the Play Store, please uninstall it — it's made by someone who is using (and profiting from) the name DevDocs without permission.
    <p>To install DevDocs on your phone, visit <a href="https://devdocs.io" target="_blank" rel="noopener">devdocs.io</a> in Chrome and select "Add to home screen" in the menu.
  </div>
"""

app.templates.httpWarning = """
  <div class="_intro"><div class="_intro-message">
    <h2 class="_intro-title">Hi there!</h2>
    <p>DevDocs is migrating to HTTPS.
    <p>Please update your bookmarks to point to <a href="https://devdocs.io">https://devdocs.io</a>.
    <p>When using the HTTPS version, your preferences will carry over automatically, but your offline data will be reset. Simply re-download documentation in the <a href="https://devdocs.io/offline">Offline area</a>, and you'll be all set to use DevDocs securely offline.
    <p>Sorry for the inconvenience. This migration is needed because browsers are removing support for certain DOM APIs that power DevDocs's offline mode over non-secure origins.
    <p>Thanks for using DevDocs, and happy coding!
  </div></div>
"""
